RewriteEngine On
RewriteBase /MiniShop_VoThanhDat/


# Danh mục: /category/laptop
RewriteRule ^category/([^/]+)/?$ index.php?area=client&controller=product&action=category&slug=$1 [L,QSA]

# Thương hiệu: /brand/asus
RewriteRule ^brand/([^/]+)/?$ index.php?area=client&controller=product&action=brand&slug=$1 [L,QSA]

# Chi tiết sản phẩm
RewriteRule ^product/([^/]+)/?$ index.php?area=client&controller=product&action=detail&slug=$1 [L,QSA]

# Tìm kiếm
RewriteRule ^search/?$ index.php?area=client&controller=product&action=search [L,QSA]

# Không rewrite file và thư mục có thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Đưa mọi request về Entry Point index.php
RewriteRule ^ index.php [QSA,L]
